{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/submit/submit.css' %}" />
  </head>
  <title>새봄 : 새로운 봄날</title>

  <body>
    <div class="navbar">
      <a class="img_test" href="http://127.0.0.1:8000/">
        <img
          class="thumnail"
          src="{% static 'images/main/thumnail2.png' %}"
          alt=""
        />
      </a>
      <a href="https://pf.kakao.com/_ExmxkkK">
        <button class="kakao_plus_btn">
          <img
            class="kakako_plus"
            src="{% static 'images/main/kakao_plus.png' %}"
            alt=""
          /><span>채널추가</span>
        </button>
      </a>
    </div>

    <!-- ======================정보 입력, 불러오기======================= -->

    <div class="info">
      <h3>카카오톡로부터 받아온 정보</h3>
      <div class="info_content">
        <div class="name common_content">
          <p class="name_p common_p">이름</p>
          <input
            type="text"
            name="html_user_nickname"
            class="input_name common_input"
            readonly
          />
          <p class="common_add add_name">{{user.user_nickname}}</p>
        </div>

        <div class="sex common_content">
          <p class="sex_p common_p">성별</p>
          <input
            type="text"
            name="html_gender"
            value=""
            class="input_sex common_input"
            readonly
          />
          <p class="common_add add_sex">{{user.gender}}</p>
        </div>

        <div class="age common_content">
          <p class="age_p common_p">연령대</p>
          <input
            type="text"
            name="html_age_range"
            id=""
            class="input_age common_input"
            readonly
          />
          <p class="common_add add_age">{{user.age_range}}</p>
        </div>
        <br /><br />

        <br />
      </div>

      <form
        class="form_field"
        action="."
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}

        <div class="send_content">
          <p class="matching_ment">원하는 매칭을 선택해 주세요 !</p>

          <div class="mtaching_group">
            <li class="group_li one_li">
              <input
                type="radio"
                value="1:1"
                name="html_option"
                id="one"
                class="one_to_one"
              />
              <label for="one" class="one_label">1:1</label>
            </li>

            <li class="group_li two_li">
              <input
                type="radio"
                value="2:2"
                name="html_option"
                id="two"
                class="two_to_two"
              />
              <label for="two" class="two_label">2:2</label>
            </li>
            
            <!-- 그룹 매칭 -->
            <!-- 
            <li class="group_li three_li">
              <input
                type="radio"
                value="3:3"
                name="html_option"
                id="three"
                class="three_to_three"
              />
              <label for="three" class="three_label">3:3</label>
            </li>

            <li class="group_li four_li">
              <input
                type="radio"
                value="4:4"
                name="html_option"
                id="four"
                class="four_to_four"
              />
              <label for="four" class="four_label">4:4</label>
            </li> -->
          </div>

          <div class="choose_uni">
            <label>학교 선택</label>
            <select name="html_university" class="read_select">
              <option value="" selected>대학교 선택</option>
              <option value="경남정보대학교">경남정보대학교</option>
              <option value="경성대학교">경성대학교</option>
              <option value="고신대학교">고신대학교</option>
              <option value="대동대학교">대동대학교</option>
              <option value="동명대학교">동명대학교</option>
              <option value="동서대학교">동서대학교</option>
              <option value="동아대학교">동아대학교</option>
              <option value="동의과학대학교">동의과학대학교</option>
              <option value="동의대학교">동의대학교</option>
              <option value="동주대학교">동주대학교</option>
              <option value="부경대학교">부경대학교</option>
              <option value="부산가톨릭대학교">부산가톨릭대학교</option>
              <option value="부산경상대학교">부산경상대학교</option>
              <option value="부산과학기술대학교">부산과학기술대학교</option>
              <option value="부산교육대학교">부산교육대학교</option>
              <option value="부산대학교">부산대학교</option>
              <option value="부산디지털대학교">부산디지털대학교</option>
              <option value="부산여자대학교">부산여자대학교</option>
              <option value="부산예술대학교">부산예술대학교</option>
              <option value="부산외국어대학교">부산외국어대학교</option>
              <option value="신라대학교">신라대학교</option>
              <option value="영산대학교">영산대학교</option>
              <option value="한국폴리텍대학">한국폴리텍대학</option>
              <option value="한국해양대학교">한국해양대학교</option>
              <option class="value_1" value="1">직접 입력</option>
            </select>
            <input type="text" class="read" />
          </div>

          <div class="uni_check">
            <label class="input_file_btn" for="input_file">학생증 인증</label>
            <input
              name="html_image"
              type="file"
              id="input_file"
              class="input_file_pic"
              accept="image/jpg , image/jpeg, image/png"
            />
          </div>

          <div class="kakao_content common_content">
            <p class="kakao_p common_p">카카오톡ID</p>
            <input type="text" class="kakao common_input" name="html_contact" />
          </div>

          <div
            class="group clickOneToOne clickTwoToTwo clickThreeToThree clickFourToFour"
          >
            <p class="group_default">원하시는 매칭 그룹을 선택해 주세요 !</p>
            <p class="group_default">
              자세한 사항은
              <a href="https://pf.kakao.com/_ExmxkkK/65944735">새봄 페이지</a>를
              참고해주세요
            </p>
          </div>
        </div>

        <p class="next_matching_msg">매칭일은 {{THIS_DATE}}입니다</p>
        <p class="next_matching_msg">카카오톡 친구 찾기 허용 필수!!</p>
        <div class="submit_wrap">
          <input class="submit_btn" type="submit" value="제출하기" />
        </div>
      </form>
    </div>

    <script src="{% static 'javascript/submit/submit.js' %}"></script>
  </body>
</html>
