body {
  background-color: whitesmoke;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
}
.modal_background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_wrap {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  background-color: whitesmoke;
  width: 17rem;
  height: 30rem;
  position: absolute;
  border-radius: 2rem;
}
.fail_wrap {
  border: 4px solid #c2dafe;
}
.succes_wrap {
  border: 4px solid #f7a4a5;
}
.approving {
  border: 4px solid rgb(194, 199, 185);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_image {
  width: 100%;
  height: 60%;
}
.modal_content {
  width: 100%;
  height: 40%;
}
.succes,
.fail {
  width: 100%;
  height: 40%;
  text-align: center;
  padding-top: 4rem;
}
.move_page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 4rem;
}
.approve {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ment {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main_matching {
  border: 4px solid rgb(240, 178, 153);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_matching_ment {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_matching_wrap {
  width: 100%;
  height: 40%;
}
.main_matching_kakao_btn {
  margin-top: 14rem;
  z-index: 1;
}
.other_page {
  font-size: 1.1rem;
}

.move_page > a {
  text-decoration: none;
  height: 1.5rem;
  padding-top: 0.5rem;
  padding: 0.5rem 1.5rem 0 1.5rem;
  font-weight: bold;
}

.move_page,
.approve_page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.approve_page {
  margin-top: 4rem;
}
.fail_page {
  display: flex;
  justify-content: space-around;
}
.fail_page > a {
  padding: 0;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
  width: 6rem;
}
.move_page > a:first-child {
  background-color: #c2dafe;
  color: black;
}
.move_page > a:last-child {
  background-color: #eeb9c9;
  color: black;
}
.success_page > a:first-child {
  background-color: #f7a4a5;
}
.approve_page > a:first-child {
  background-color: #c2c7b9;
}
.for_status_font {
  font-size: 0.9rem;
}
.for_margin_zero {
  margin-top: 0;
}
.for_result_allow {
  font-size: 1rem;
}
.for_margin {
  margin-top: 17rem;
}
